# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://nevillebarla7_db_user:kqR1UGWoYuN0blHg@career-companion.9cqrnbp.mongodb.net/career_companion?appName=career-companion

# JWT
JWT_SECRET=career_companion_secret_123

# Google OAuth
GOOGLE_CLIENT_ID=386655448443-pm20b27em1k0rtmkmfkq38egma3q2mgi.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Adzuna API
ADZUNA_APP_ID=5adfa313
ADZUNA_APP_KEY=948478a155c36d072bec398932f0186a

# Groq AI
GROQ_API_KEY=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

# Frontend URL (set this after deploying frontend on Vercel)
FRONTEND_URL=https://your-app.vercel.app
